/* Customizing the Label */
.label-customized {
    -fx-font-size: 30px; /* Adjust font size */
    -fx-font-family: "Arial Bold", Arial, sans-serif; /* Adjust font family */
    -fx-text-fill: #071851; /* Adjust text color */
    -fx-background-color:  #9AECDB; /* Adjust background color */
    -fx-padding: 5px; /* Adjust padding */
    -fx-border-color:  #9AECDB; /* Adjust border color */
    -fx-border-width: 0px; /* Adjust border width */
    -fx-border-radius: 30px; /* Adjust border radius */
}
